<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Resturant Generator</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://www.takingcharge.csh.umn.edu/sites/default/files/lukas-budimaier-93293_1.jpg">
  
  <form method="POST" action="/food">
  <p>What dietary restrictions do you have?: <input type="text" name="name"></p>
  <p>Your Favorite Food: <input type="text" name="favorite_food"></p>
  <input type="submit">
</form>

<!---->asks what type of food you would like to eat 
<!---->asks the location
<!---->asks dietay restictions 


  </body>
</html>
